:root {
  --main-font-color: #2d9cdb;
  --font-bold: "NanumSquareRoundBold";
  --font-ragular: "NanumSquareRound";
  --font-exbold: " NanumSquareRoundExtraBold";
  --font-light: "NanumSquareRoundLight";
}
